*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Times New Roman", Times, serif;
}

.app {
  display: flex;
  justify-self: center;
  align-items: center;
  justify-content: center;
  min-width: 90%;
  height: 100vh;
}

.info-editor {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 50px;
  width: 4fr;
  height: 100%;
  overflow: auto;
  border: 1px solid black;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgb(202, 202, 202);
  }
}

.preview-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 800px;
  height: 100%;
  background-color: rgb(240, 239, 239);
}

.preview {
  background-color: rgb(248, 247, 247);
  width: 595px;
  height: 862px;
}

/* Header */

header {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  font-size: 50px;
}

.instructions {
  font-size: 18px;
}

/* Section */

.section-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 15px;
  border: 1px solid gray;
  border-radius: 5px;
}

.section-container > div {
  display: flex;
  flex-direction: column;
}

input,
textarea {
  height: 2lh;
  background-color: aliceblue;
  border: none;
  border-radius: 5px;
  padding: 5px;
}

textarea {
  height: auto;
}

.degree-status-container > div {
  align-items: center;
  display: flex;
  gap: 10px;
}

/* Checkbox Slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Preview */

.preview {
  padding: 20px;
}

.general-info-preview,
.education-preview,
.practical-preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px 30px;
  font-weight: bold;
  gap: 5px;
  font-weight: normal;
}

.contacts {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.contacts > div {
  display: flex;
  align-items: center;
  gap: 5px;
}

.inner-border {
  width: 100%;
  margin: 0 auto;
  border-bottom: 2px solid grey;
  margin-top: 10px;
}

.school,
.job {
  display: flex;
  align-self: start;
  gap: 30px;
}

.schoolName-preview,
.company-preview {
  font-weight: bold;
  font-size: 17px;
}

.dates {
  text-wrap: nowrap;
}

.responsibilities-preview {
  margin-top: 1rem;
  white-space: wrap;
}
